* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}
.gameName {
  margin-top: 32px;
}
#canvas {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  /* background:url('grid.png'); */
  /* background-size: contain; */
  background-color: #000000;
}
.scoreboard {
  display: flex;
  width: 100%;
  max-width: 320px;
  justify-content: space-evenly;
  padding-bottom: 16px;
}
.scoreCard {
  color: #7b7a7a;
  border: 1px solid red;
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gameOverPopup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  padding: 32px;
  z-index: 2;
  height: 40vh;
  width: 90vw;
  max-width: 320px;
  max-height: 320px;
  background-color: rgba(0, 0, 0, 0.397);
  color: #ffffff;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}
.newgame {
  padding: 8px 16px;
  border: none;
  background: green;
  color: white;
}
.newgame:focus {
  outline: none;
}
.newgame:hover {
  background: rgb(8, 94, 8);
  color: white;
}

.controls {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 8px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.key {
  border: 1px solid black;
  margin: 4px;
  padding: 6px;
  width: 64px;
  font-size: 14px;
}
